* {
  margin: 0;
  padding: 0;
}

.margin {
  margin: 20px;
}

.margin h5 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

input::placeholder {
  font-size: small;
  font-weight: 100;
  opacity: 0.1;
}
